In [1]:
import pandas as pd

In [2]:
info = 'hanseniase'
place = 'brasil'
path_to_csv = '../data/extracted/{}/{}_{}.csv'.format(info, place, info)

In [13]:
df = pd.read_csv(path_to_csv, encoding='utf8', sep=';', skipfooter=11, skiprows=3, engine='python')

In [14]:
df

   Ano Diagnóstico  Frequência  N_DOSES  Lesões_Cutâneas
0             2001       51013    36774            53717
1             2002       55226    43758           135772
2             2003       58672    48796           235583
3             2004       57363    62180           249697
4             2005       56088   102256           254443
5             2006       51068   251718           248788
6             2007       47767   362243           262807
7             2008       47525   380931           288170
8             2009       44878   362823           268401
9             2010       42506   350675           261608
10            2011       41392   354020           267464
11            2012       40649   350593           264305
12            2013       38093   336715           249640
13            2014       38424   340704           252093
14            2015       35913   322825           248719
15            2016       32213   294956           224671
16            2017       34654   317347           236644
17            2018       36977   341472           256563
18            2019       36194   283706           239015
19            2020       19478    69603           133067
20           Total      871157  5022140          4642572