# Notebook do tratamento dos dados de crises respiratórias suspeitas de covid

## Importação das bibliotecas

In [1]:
import pandas as pd
import json

---

## Configuração de variáveis

In [2]:
info = 'sindrome_respiratoria_covid'
path_to_csv = '../data/extracted/{}/{}.csv'.format(info, info)
path_to_json = '../data/loaded/{}/{}.json'.format(info, info)

---

## Recuperação e visualização superficial dos dados

In [3]:
df = pd.read_csv(path_to_csv, sep=';')

/home/kisobral/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,18,60,62,63,64,92,94,106,108,115,117,118,119,123,144) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,DS_AN_OUT,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA
0,05/01/2021,1,03/01/2021,1,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,HC DA FMUSP HOSPITAL DAS CLINICAS SAO PAULO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/01/2021,1,03/01/2021,1,RS,006 CRS,1611.0,PASSO FUNDO,431410,HOSPITAL SAO VICENTE DE PAULO,...,NaN,1.0,NaN,05/01/2021,1.0,NaN,05/01/2021,2.0,2.0,NaN
2,10/01/2021,2,03/01/2021,1,SP,GVE XXIV RIBEIRAO PRETO,1348.0,RIBEIRAO PRETO,354340,HOSPITAL IMACULADA CONCEICAO RIBEIRAO PRETO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/01/2021,1,06/01/2021,1,PR,15RS MARINGA,1369.0,MARINGA,411520,HOSPITAL E MATERNIDADE MARINGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08/01/2021,1,05/01/2021,1,SC,FLORIANOPOLIS,1476.0,FLORIANOPOLIS,420540,HOSPITAL NEREU RAMOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.DS_AN_OUT = df.DS_AN_OUT.fillna('OUTROS')

In [6]:
df.DS_AN_OUT.value_counts()

OUTROS                          763080
COVID-19                            65
SARS-COV-2                          31
COVID 19                            28
RHINOVIRUS                          12
COVID19                              9
COVID                                6
CORONAVIRUS                          5
RINOVIRUS                            3
BOCAVIRUS                            2
SARS COV 2                           2
SARS- COV2                           1
SARS-COV-                            1
SARS COV 19                          1
RINOVIRUS E CORONAVIRUS NL63         1
COV 19                               1
COVID + ANTIGENO                     1
VIRUS SINCICIAL RESPIRATORIO         1
SARSCOV                              1
VIRUS SINCICIAL                      1
SARS COV 2 COVID                     1
RHINOVIRUS, ENTEROVIRUS              1
CORONA VIRUS                         1
Name: DS_AN_OUT, dtype: int64

---

## Criação de um novo dataframe com as informações úteis

In [7]:
useful_columns = ['DT_NOTIFIC', 'SG_UF_NOT', 'DS_AN_OUT']

In [8]:
useful_data = df[useful_columns]

In [9]:
useful_data.SG_UF_NOT.value_counts()

SP    223244
MG     89202
RJ     54973
PR     53282
RS     51612
CE     36210
SC     30506
BA     28106
GO     25107
PA     18761
AM     17064
PE     17035
DF     14993
MS     13477
PB     12616
MT     11448
AL      9653
SE      8803
RN      8301
MA      8000
RO      7330
PI      7245
TO      6286
ES      4987
AC      2319
AP      1537
RR      1158
Name: SG_UF_NOT, dtype: int64

In [10]:
numero_de_pessoas = useful_data.shape[0]

---

## Exportação dos dados em JSON

In [11]:
useful_data_as_json = useful_data.to_json()
useful_data_as_json = json.loads(useful_data_as_json)
useful_data_as_json.update({'Total': numero_de_pessoas})
with open(path_to_json, 'w') as outfile:
    json.dump(useful_data_as_json, outfile)