# Notebook de tratamento dos dados acerca da frequência de notificações da tuberculose no Brasil

## Importação das bibliotecas

In [1]:
import pandas as pd
import json

---

## Configuração de variáveis

In [2]:
info = 'tuberculose'
place = 'brasil'
path_to_csv = '../data/extracted/{}/{}_{}.csv'.format(info, info, place)

---

## Recuperação e visualização superficial dos metadados

In [3]:
df = pd.read_csv(path_to_csv, encoding='utf8', sep=';', skipfooter=18, engine='python')

In [4]:
df.tail(8)

,UF de notificacão,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total
20,41 Paraná,3224,3436,3454,3294,3418,2832,3059,2991,2808,...,2534,2650,2554,2466,2436,2501,2860,2883,2814,57706
21,42 Santa Catarina,1695,1873,1903,1870,1837,1820,1866,2022,2002,...,2229,2268,2248,2180,2199,2228,2282,2265,1509,40584
22,43 Rio Grande do Sul,5231,5509,5786,5906,5661,5155,5496,5687,6100,...,6405,6348,6372,6380,6043,6599,6908,7642,6327,122095
23,50 Mato Grosso do Sul,980,914,1022,1034,1053,882,963,1019,1044,...,1091,1098,998,1003,1130,1140,1455,1406,1171,21393
24,51 Mato Grosso,1425,1248,1267,1148,1344,1310,1170,1280,1158,...,1605,1886,1794,1442,1456,1430,1414,1532,1188,27836
25,52 Goiás,1148,1149,1242,1089,1081,976,959,953,1012,...,1058,1072,991,1095,1027,1163,1212,1173,952,21357
26,53 Distrito Federal,638,606,614,625,621,583,634,518,449,...,554,473,512,478,463,413,471,483,382,10436
27,Total,87265,92859,93773,92980,92056,85031,84600,86768,86318,...,86183,86208,85213,85452,86207,91301,95539,97629,83678,1772254

---

## Tratamento das informações

### Inclusão da região aos metadados

In [5]:
region_map = {
    "1": "Norte",
    "2": "Nordeste",
    "3": "Sudeste",
    "4": "Sul",
    "5": "Centro-Oeste",
    "T": "-"
}
df['Região'] = [region_map[i[0]] for i in df['UF de notificacão']]

In [6]:
df.head(8)

,UF de notificacão,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,Total,Região
0,11 Rondônia,674,639,651,628,630,519,548,564,680,...,711,686,665,775,780,678,740,573,13090,Norte
1,12 Acre,364,368,368,356,329,391,314,314,364,...,406,462,361,450,484,483,582,537,8081,Norte
2,13 Amazonas,2334,2286,2375,2559,2477,2432,2461,2688,2606,...,3060,3143,3404,3259,3693,3803,3955,3500,58327,Norte
3,14 Roraima,150,172,206,218,155,147,137,155,145,...,167,148,174,160,205,265,324,286,3674,Norte
4,15 Pará,3517,3785,3940,4089,3975,3789,3763,3790,4106,...,4119,3940,3991,4224,4511,4678,5542,4437,82682,Norte
5,16 Amapá,223,296,273,275,274,245,273,266,253,...,220,211,225,287,298,284,357,274,5267,Norte
6,17 Tocantins,320,333,284,260,253,256,231,207,223,...,194,186,193,210,187,233,234,200,4620,Norte
7,21 Maranhão,2901,3043,2980,2974,3179,2883,2780,2464,2462,...,2278,2111,2238,2442,2469,2647,2666,2332,51953,Nordeste

### Criação de um novo dataframe apenas com os dados numéricos

In [7]:
useful_columns = df.mean().index.tolist()
useful_columns.insert(0, 'UF de notificacão')
useful_columns.insert(-1, 'Região')
print(useful_columns)

['UF de notificacão', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Região', 'Total']

In [8]:
useful_data = df[useful_columns]

In [9]:
useful_data.loc[:26, 'UF de notificacão'] = useful_data.loc[:26, 'UF de notificacão'].apply(lambda x: x[3:])
useful_data.set_index('UF de notificacão')
useful_data

,UF de notificacão,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,Região,Total
0,Rondônia,674,639,651,628,630,519,548,564,680,...,711,686,665,775,780,678,740,573,Norte,13090
1,Acre,364,368,368,356,329,391,314,314,364,...,406,462,361,450,484,483,582,537,Norte,8081
2,Amazonas,2334,2286,2375,2559,2477,2432,2461,2688,2606,...,3060,3143,3404,3259,3693,3803,3955,3500,Norte,58327
3,Roraima,150,172,206,218,155,147,137,155,145,...,167,148,174,160,205,265,324,286,Norte,3674
4,Pará,3517,3785,3940,4089,3975,3789,3763,3790,4106,...,4119,3940,3991,4224,4511,4678,5542,4437,Norte,82682
5,Amapá,223,296,273,275,274,245,273,266,253,...,220,211,225,287,298,284,357,274,Norte,5267
6,Tocantins,320,333,284,260,253,256,231,207,223,...,194,186,193,210,187,233,234,200,Norte,4620
7,Maranhão,2901,3043,2980,2974,3179,2883,2780,2464,2462,...,2278,2111,2238,2442,2469,2647,2666,2332,Nordeste,51953
8,Piauí,1568,1519,1448,1563,1551,1306,1357,1224,1108,...,908,813,754,812,791,884,877,758,Nordeste,22158
9,Ceará,4240,4385,4586,4461,4656,4140,4161,4473,4664,...,4052,3879,4012,4045,4289,4555,4544,3696,Nordeste,85787
10,Rio Grande do Norte,1158,1179,1354,1373,1356,1163,1112,1211,1185,...,1273,1187,1156,1182,1354,1624,1417,1502,Nordeste,25372
11,Paraíba,1369,1395,1465,1508,1482,1122,1182,1324,1320,...,1429,1312,1250,1215,1360,1542,1486,1263,Nordeste,27190
12,Pernambuco,4542,4870,5153,5451,5319,4898,4835,4995,5028,...,5420,5443,5649,5513,6378,6491,6793,6069,Nordeste,109108
13,Alagoas,1332,1351,1426,1422,1507,1356,1380,1408,1448,...,1324,1245,1068,1236,1264,1340,1288,922,Nordeste,26370
14,Sergipe,557,599,664,634,834,697,593,695,686,...,710,788,771,800,832,978,1022,793,Nordeste,14569
15,Bahia,7935,7853,8435,8212,7937,7148,6734,6667,6971,...,5679,5612,5304,5300,5498,5667,5653,4448,Nordeste,130068
16,Minas Gerais,1331,5886,5982,6086,5926,5369,5311,5188,4851,...,4200,4193,4055,4073,4064,4224,4356,3889,Sudeste,92310
17,Espírito Santo,1658,1569,1563,1529,1448,1353,1432,1537,1427,...,1384,1314,1395,1238,1324,1484,1492,1734,Sudeste,29270
18,Rio de Janeiro,16976,16789,16130,15832,15325,14200,14206,14676,14390,...,13349,13095,13367,13645,13927,14819,14963,13077,Sudeste,291356
19,São Paulo,19775,19807,19202,18584,18428,18059,17643,18452,17828,...,19530,19976,20376,20587,22119,22258,21953,19045,Sudeste,389594
20,Paraná,3224,3436,3454,3294,3418,2832,3059,2991,2808,...,2650,2554,2466,2436,2501,2860,2883,2814,Sul,57706
21,Santa Catarina,1695,1873,1903,1870,1837,1820,1866,2022,2002,...,2268,2248,2180,2199,2228,2282,2265,1509,Sul,40584
22,Rio Grande do Sul,5231,5509,5786,5906,5661,5155,5496,5687,6100,...,6348,6372,6380,6043,6599,6908,7642,6327,Sul,122095
23,Mato Grosso do Sul,980,914,1022,1034,1053,882,963,1019,1044,...,1098,998,1003,1130,1140,1455,1406,1171,Centro-Oeste,21393
24,Mato Grosso,1425,1248,1267,1148,1344,1310,1170,1280,1158,...,1886,1794,1442,1456,1430,1414,1532,1188,Centro-Oeste,27836
25,Goiás,1148,1149,1242,1089,1081,976,959,953,1012,...,1072,991,1095,1027,1163,1212,1173,952,Centro-Oeste,21357
26,Distrito Federal,638,606,614,625,621,583,634,518,449,...,473,512,478,463,413,471,483,382,Centro-Oeste,10436
27,Total,87265,92859,93773,92980,92056,85031,84600,86768,86318,...,86208,85213,85452,86207,91301,95539,97629,83678,-,1772254

---

## Exportação dos dados tratados

In [10]:
info = 'tuberculose'
path_to_csv = '../data/loaded/{}/{}_processed.csv'.format(info, info)
path_to_json = '../data/loaded/{}/{}_processed.json'.format(info, info)

In [11]:
useful_data.to_csv(path_to_csv)

In [12]:
useful_data_as_json = useful_data.to_json()
useful_data_as_json = json.loads(useful_data_as_json)
with open(path_to_json, 'w') as outfile:
    json.dump(useful_data_as_json, outfile)

{'UF de notificacão': {'0': 'Rondônia',
  '1': 'Acre',
  '2': 'Amazonas',
  '3': 'Roraima',
  '4': 'Pará',
  '5': 'Amapá',
  '6': 'Tocantins',
  '7': 'Maranhão',
  '8': 'Piauí',
  '9': 'Ceará',
  '10': 'Rio Grande do Norte',
  '11': 'Paraíba',
  '12': 'Pernambuco',
  '13': 'Alagoas',
  '14': 'Sergipe',
  '15': 'Bahia',
  '16': 'Minas Gerais',
  '17': 'Espírito Santo',
  '18': 'Rio de Janeiro',
  '19': 'São Paulo',
  '20': 'Paraná',
  '21': 'Santa Catarina',
  '22': 'Rio Grande do Sul',
  '23': 'Mato Grosso do Sul',
  '24': 'Mato Grosso',
  '25': 'Goiás',
  '26': 'Distrito Federal',
  '27': 'Total'},
 '2001': {'0': 674,
  '1': 364,
  '2': 2334,
  '3': 150,
  '4': 3517,
  '5': 223,
  '6': 320,
  '7': 2901,
  '8': 1568,
  '9': 4240,
  '10': 1158,
  '11': 1369,
  '12': 4542,
  '13': 1332,
  '14': 557,
  '15': 7935,
  '16': 1331,
  '17': 1658,
  '18': 16976,
  '19': 19775,
  '20': 3224,
  '21': 1695,
  '22': 5231,
  '23': 980,
  '24': 1425,
  '25': 1148,
  '26': 638,
  '27': 87265},
 '2002': {'0': 639,
  '1': 368,
  '2': 2286,
  '3': 172,
  '4': 3785,
  '5': 296,
  '6': 333,
  '7': 3043,
  '8': 1519,
  '9': 4385,
  '10': 1179,
  '11': 1395,
  '12': 4870,
  '13': 1351,
  '14': 599,
  '15': 7853,
  '16': 5886,
  '17': 1569,
  '18': 16789,
  '19': 19807,
  '20': 3436,
  '21': 1873,
  '22': 5509,
  '23': 914,
  '24': 1248,
  '25': 1149,
  '26': 606,
  '27': 92859},
 '2003': {'0': 651,
  '1': 368,
  '2': 2375,
  '3': 206,
  '4': 3940,
  '5': 273,
  '6': 284,
  '7': 2980,
  '8': 1448,
  '9': 4586,
  '10': 1354,
  '11': 1465,
  '12': 5153,
  '13': 1426,
  '14': 664,
  '15': 8435,
  '16': 5982,
  '17': 1563,
  '18': 16130,
  '19': 19202,
  '20': 3454,
  '21': 1903,
  '22': 5786,
  '23': 1022,
  '24': 1267,
  '25': 1242,
  '26': 614,
  '27': 93773},
 '2004': {'0': 628,
  '1': 356,
  '2': 2559,
  '3': 218,
  '4': 4089,
  '5': 275,
  '6': 260,
  '7': 2974,
  '8': 1563,
  '9': 4461,
  '10': 1373,
  '11': 1508,
  '12': 5451,
  '13': 1422,
  '14': 634,
  '15': 8212,
  '16': 6086,
  '17': 1529,
  '18': 15832,
  '19': 18584,
  '20': 3294,
  '21': 1870,
  '22': 5906,
  '23': 1034,
  '24': 1148,
  '25': 1089,
  '26': 625,
  '27': 92980},
 '2005': {'0': 630,
  '1': 329,
  '2': 2477,
  '3': 155,
  '4': 3975,
  '5': 274,
  '6': 253,
  '7': 3179,
  '8': 1551,
  '9': 4656,
  '10': 1356,
  '11': 1482,
  '12': 5319,
  '13': 1507,
  '14': 834,
  '15': 7937,
  '16': 5926,
  '17': 1448,
  '18': 15325,
  '19': 18428,
  '20': 3418,
  '21': 1837,
  '22': 5661,
  '23': 1053,
  '24': 1344,
  '25': 1081,
  '26': 621,
  '27': 92056},
 '2006': {'0': 519,
  '1': 391,
  '2': 2432,
  '3': 147,
  '4': 3789,
  '5': 245,
  '6': 256,
  '7': 2883,
  '8': 1306,
  '9': 4140,
  '10': 1163,
  '11': 1122,
  '12': 4898,
  '13': 1356,
  '14': 697,
  '15': 7148,
  '16': 5369,
  '17': 1353,
  '18': 14200,
  '19': 18059,
  '20': 2832,
  '21': 1820,
  '22': 5155,
  '23': 882,
  '24': 1310,
  '25': 976,
  '26': 583,
  '27': 85031},
 '2007': {'0': 548,
  '1': 314,
  '2': 2461,
  '3': 137,
  '4': 3763,
  '5': 273,
  '6': 231,
  '7': 2780,
  '8': 1357,
  '9': 4161,
  '10': 1112,
  '11': 1182,
  '12': 4835,
  '13': 1380,
  '14': 593,
  '15': 6734,
  '16': 5311,
  '17': 1432,
  '18': 14206,
  '19': 17643,
  '20': 3059,
  '21': 1866,
  '22': 5496,
  '23': 963,
  '24': 1170,
  '25': 959,
  '26': 634,
  '27': 84600},
 '2008': {'0': 564,
  '1': 314,
  '2': 2688,
  '3': 155,
  '4': 3790,
  '5': 266,
  '6': 207,
  '7': 2464,
  '8': 1224,
  '9': 4473,
  '10': 1211,
  '11': 1324,
  '12': 4995,
  '13': 1408,
  '14': 695,
  '15': 6667,
  '16': 5188,
  '17': 1537,
  '18': 14676,
  '19': 18452,
  '20': 2991,
  '21': 2022,
  '22': 5687,
  '23': 1019,
  '24': 1280,
  '25': 953,
  '26': 518,
  '27': 86768},
 '2009': {'0': 680,
  '1': 364,
  '2': 2606,
  '3': 145,
  '4': 4106,
  '5': 253,
  '6': 223,
  '7': 2462,
  '8': 1108,
  '9': 4664,
  '10': 1185,
  '11': 1320,
  '12': 5028,
  '13': 1448,
  '14': 686,
  '15': 6971,
  '16': 4851,
  '17': 1427,
  '18': 14390,
  '19': 17828,
  '20': 2808,
  '21': 2002,
  '22': 6100,
  '23': 1044,
  '24': 1158,
  '25': 1012,
  '26': 449,
  '27': 86318},
 '2010': {'0': 572,
  '1': 347,
  '2': 2764,
  '3': 152,
  '4': 4104,
  '5': 221,
  '6': 216,
  '7': 2414,
  '8': 994,
  '9': 4315,
  '10': 1109,
  '11': 1327,
  '12': 5175,
  '13': 1368,
  '14': 630,
  '15': 6521,
  '16': 4443,
  '17': 1478,
  '18': 14241,
  '19': 18213,
  '20': 2770,
  '21': 2070,
  '22': 6180,
  '23': 943,
  '24': 1368,
  '25': 1016,
  '26': 430,
  '27': 85381},
 '2011': {'0': 685,
  '1': 392,
  '2': 2686,
  '3': 171,
  '4': 4334,
  '5': 259,
  '6': 215,
  '7': 2505,
  '8': 1002,
  '9': 4398,
  '10': 1269,
  '11': 1413,
  '12': 5390,
  '13': 1327,
  '14': 669,
  '15': 6412,
  '16': 4626,
  '17': 1450,
  '18': 14331,
  '19': 19083,
  '20': 2722,
  '21': 2218,
  '22': 6360,
  '23': 1047,
  '24': 1371,
  '25': 989,
  '26': 489,
  '27': 87813},
 '2012': {'0': 692,
  '1': 409,
  '2': 2842,
  '3': 137,
  '4': 4048,
  '5': 253,
  '6': 185,
  '7': 2185,
  '8': 921,
  '9': 4236,
  '10': 1208,
  '11': 1426,
  '12': 5696,
  '13': 1358,
  '14': 617,
  '15': 6082,
  '16': 4257,
  '17': 1461,
  '18': 14018,
  '19': 18676,
  '20': 2534,
  '21': 2229,
  '22': 6405,
  '23': 1091,
  '24': 1605,
  '25': 1058,
  '26': 554,
  '27': 86183},
 '2013': {'0': 711,
  '1': 406,
  '2': 3060,
  '3': 167,
  '4': 4119,
  '5': 220,
  '6': 194,
  '7': 2278,
  '8': 908,
  '9': 4052,
  '10': 1273,
  '11': 1429,
  '12': 5420,
  '13': 1324,
  '14': 710,
  '15': 5679,
  '16': 4200,
  '17': 1384,
  '18': 13349,
  '19': 19530,
  '20': 2650,
  '21': 2268,
  '22': 6348,
  '23': 1098,
  '24': 1886,
  '25': 1072,
  '26': 473,
  '27': 86208},
 '2014': {'0': 686,
  '1': 462,
  '2': 3143,
  '3': 148,
  '4': 3940,
  '5': 211,
  '6': 186,
  '7': 2111,
  '8': 813,
  '9': 3879,
  '10': 1187,
  '11': 1312,
  '12': 5443,
  '13': 1245,
  '14': 788,
  '15': 5612,
  '16': 4193,
  '17': 1314,
  '18': 13095,
  '19': 19976,
  '20': 2554,
  '21': 2248,
  '22': 6372,
  '23': 998,
  '24': 1794,
  '25': 991,
  '26': 512,
  '27': 85213},
 '2015': {'0': 665,
  '1': 361,
  '2': 3404,
  '3': 174,
  '4': 3991,
  '5': 225,
  '6': 193,
  '7': 2238,
  '8': 754,
  '9': 4012,
  '10': 1156,
  '11': 1250,
  '12': 5649,
  '13': 1068,
  '14': 771,
  '15': 5304,
  '16': 4055,
  '17': 1395,
  '18': 13367,
  '19': 20376,
  '20': 2466,
  '21': 2180,
  '22': 6380,
  '23': 1003,
  '24': 1442,
  '25': 1095,
  '26': 478,
  '27': 85452},
 '2016': {'0': 775,
  '1': 450,
  '2': 3259,
  '3': 160,
  '4': 4224,
  '5': 287,
  '6': 210,
  '7': 2442,
  '8': 812,
  '9': 4045,
  '10': 1182,
  '11': 1215,
  '12': 5513,
  '13': 1236,
  '14': 800,
  '15': 5300,
  '16': 4073,
  '17': 1238,
  '18': 13645,
  '19': 20587,
  '20': 2436,
  '21': 2199,
  '22': 6043,
  '23': 1130,
  '24': 1456,
  '25': 1027,
  '26': 463,
  '27': 86207},
 '2017': {'0': 780,
  '1': 484,
  '2': 3693,
  '3': 205,
  '4': 4511,
  '5': 298,
  '6': 187,
  '7': 2469,
  '8': 791,
  '9': 4289,
  '10': 1354,
  '11': 1360,
  '12': 6378,
  '13': 1264,
  '14': 832,
  '15': 5498,
  '16': 4064,
  '17': 1324,
  '18': 13927,
  '19': 22119,
  '20': 2501,
  '21': 2228,
  '22': 6599,
  '23': 1140,
  '24': 1430,
  '25': 1163,
  '26': 413,
  '27': 91301},
 '2018': {'0': 678,
  '1': 483,
  '2': 3803,
  '3': 265,
  '4': 4678,
  '5': 284,
  '6': 233,
  '7': 2647,
  '8': 884,
  '9': 4555,
  '10': 1624,
  '11': 1542,
  '12': 6491,
  '13': 1340,
  '14': 978,
  '15': 5667,
  '16': 4224,
  '17': 1484,
  '18': 14819,
  '19': 22258,
  '20': 2860,
  '21': 2282,
  '22': 6908,
  '23': 1455,
  '24': 1414,
  '25': 1212,
  '26': 471,
  '27': 95539},
 '2019': {'0': 740,
  '1': 582,
  '2': 3955,
  '3': 324,
  '4': 5542,
  '5': 357,
  '6': 234,
  '7': 2666,
  '8': 877,
  '9': 4544,
  '10': 1417,
  '11': 1486,
  '12': 6793,
  '13': 1288,
  '14': 1022,
  '15': 5653,
  '16': 4356,
  '17': 1492,
  '18': 14963,
  '19': 21953,
  '20': 2883,
  '21': 2265,
  '22': 7642,
  '23': 1406,
  '24': 1532,
  '25': 1173,
  '26': 483,
  '27': 97629},
 '2020': {'0': 573,
  '1': 537,
  '2': 3500,
  '3': 286,
  '4': 4437,
  '5': 274,
  '6': 200,
  '7': 2332,
  '8': 758,
  '9': 3696,
  '10': 1502,
  '11': 1263,
  '12': 6069,
  '13': 922,
  '14': 793,
  '15': 4448,
  '16': 3889,
  '17': 1734,
  '18': 13077,
  '19': 19045,
  '20': 2814,
  '21': 1509,
  '22': 6327,
  '23': 1171,
  '24': 1188,
  '25': 952,
  '26': 382,
  '27': 83678},
 'Região': {'0': 'Norte',
  '1': 'Norte',
  '2': 'Norte',
  '3': 'Norte',
  '4': 'Norte',
  '5': 'Norte',
  '6': 'Norte',
  '7': 'Nordeste',
  '8': 'Nordeste',
  '9': 'Nordeste',
  '10': 'Nordeste',
  '11': 'Nordeste',
  '12': 'Nordeste',
  '13': 'Nordeste',
  '14': 'Nordeste',
  '15': 'Nordeste',
  '16': 'Sudeste',
  '17': 'Sudeste',
  '18': 'Sudeste',
  '19': 'Sudeste',
  '20': 'Sul',
  '21': 'Sul',
  '22': 'Sul',
  '23': 'Centro-Oeste',
  '24': 'Centro-Oeste',
  '25': 'Centro-Oeste',
  '26': 'Centro-Oeste',
  '27': '-'},
 'Total': {'0': 13090,
  '1': 8081,
  '2': 58327,
  '3': 3674,
  '4': 82682,
  '5': 5267,
  '6': 4620,
  '7': 51953,
  '8': 22158,
  '9': 85787,
  '10': 25372,
  '11': 27190,
  '12': 109108,
  '13': 26370,
  '14': 14569,
  '15': 130068,
  '16': 92310,
  '17': 29270,
  '18': 291356,
  '19': 389594,
  '20': 57706,
  '21': 40584,
  '22': 122095,
  '23': 21393,
  '24': 27836,
  '25': 21357,
  '26': 10436,
  '27': 1772254}}